
:root {
    --color-primary: #fdce2a;
    --color-secondary: #7b9c2c;
    --color-clock: rgb(219, 209, 64);
    --color-body: #ffffff;
    --color-breakContainer: #1a5f63;
    --color--breakComand: #27969c;
    --color--breakTimer: #3468d6;

    --color-shadow: #58701e;
    --color-square: #455a14;
    --border-radius: 30px;
}

/* Typography */
/* Font-size is set to 62.5% so its easier to work with */
html {
    font-size: 62.5%;
} 

body {
    color: var(--color-body);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
} 

*, *::after, *::before {
    box-sizing: border-box;
}  

/* ------ Buttons ------ */
/* .butto--container {
    display: flex;
    flex-direction: row;
} */

.butto {
    cursor: pointer;
    border: 0;
    font-weight: 600;
    color: #fff;
    margin: 0.5rem 0;
    padding: 1rem 4vw;
    transition: all 1s;
}

.butto--timer {
    border-radius: var(--border-radius);
    font-size: 2.5rem;
    flex-grow: 1;
    background-color: var(--color-secondary);
    box-shadow: var(--color-shadow) 0px 6px 0px;
    text-transform: uppercase;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    transition: all 1s;
}

.butto--comand {
    background-color: var(--color-shadow);
    border-radius: 0.8rem;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0.5rem 1rem;
    transition: all 1s;
}

.break--timer {
    background-color: var(--color--breakComand);
    box-shadow: var(--color--breakTimer) 0px 6px 0px;
    transition: all 1s;
}

.break--container {
    background-color: var(--color-breakContainer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all 1s;
}

.break--comand {
    background-color: var(--color--breakComand);
    transition: all 1s;
}

/* ------ Clock ------ */
.clock {
    margin: 0;
    font-size: 15rem;
    font-weight: 600;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-square);
    align-items: center;
    height: 100vh;
    transition: all 1s;
}

